# Exclude build/ folder
build/**/*

# Include some items in build/ folder
!build/vcs.txt
!build/SDL2.dll

# Exclude bin/ folder
bin/**/*

# Include some items in bin/ folder
!bin/vcs.txt
!bin/SDL2.dll
!bin/libSDL2.dylib
!bin/libSDL2.so
!bin/vulkan-1.dll

# Exclude temp/ folder
temp/
src/.build/
